@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 0;
  padding-bottom: 5px;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
}

.bar-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-left {
  font-size: 1.9rem;
  color: #10defd;
  cursor: pointer;
}

.logo {
  padding-left: 70px;
  cursor: pointer;
  padding-right: 0;
  margin-right: 0;
  padding-top: 10px;
}

.logo img {
  width: 70%;
}

.nav-bar .pages {
  display: none;
  justify-content: space-between;
  width: 650px;
  padding-right: 100px;
}

div.pages>* {
  cursor: pointer;
  color: #2e3842;
}

div.pages>*:hover {
  color: hsl(140, 100%, 45%);
}

.pages div i {
  color: darkgray;
}

.pages div:hover {
  color: hsl(140, 100%, 45%);
}

.pages .active {
  color: #10defd;
}

.nav-bar .profile {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.nav-bar .profile .contact {
  display: none;
  padding-right: 40px;
}

.nav-bar .profile .contact .far {
  font-size: 1.8rem;
  color: darkgray;
}

.nav-bar .profile .contact .contact-number {
  margin-top: -7px;
  padding-left: 6px;
}

.nav-bar .profile .contact .contact-number p {
  font-size: 0.8em;
  margin: 0;
}

.nav-bar .profile .profile-person {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-bar .profile .profile-person img {
  border-radius: 50%;
  width: 30px;
}

.nav-bar .profile .profile-person .fa-solid {
  padding-left: 10px;
  color: darkgray;
}

/* Screen Responsiveness */
@media only screen and (min-width: 550px) {
  .nav-bar .profile .profile-person {
    display: flex;
  }

  .logo {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-bar .pages {
    display: flex;
  }

  .logo {
    padding-left: 10px;
  }

  .nav-bar-left {
    display: none;
  }

}

@media only screen and (min-width: 1200px) {
  .nav-bar .profile .contact {
    display: flex;
  }
}


/* Chat */
body .chat {
  padding-top: 70px;
  width: 100%;
}

/* .active {
  display: none;
}
 */
/* Search */
.chat .chat-title {
  display: flex;
  justify-content: space-between;
  padding: 17.4px 20px;
  position: fixed;
  background: #fff;
  width: 100%;
  border-top: 1px solid #b7bfc7;
}

.chat .all-contact .chat-title .icon {
  margin-right: 40px;
  cursor: pointer;
  color: #798586;
}

.chat .search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  margin-top: 60px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #c6ccd1;
}

.chat .active .person {
  margin-top: 110px;
}

.chat .search input {
  border-radius: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 1rem;
  padding-left: 10px;
  color: darkgray;
  border: 1px solid;
  margin-right: 20px;
}

.chat .all-contact .person {
  padding-top: 120px;
  cursor: pointer;
}

.chat .chat-person {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.chat .chat-person .profile img {
  border-radius: 50%;
  width: 40px;
}

.chat .chat-person .profile-message {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.chat .chat-person .profile-message .name-message {
  font-size: smaller;
  padding-left: 10px;
  padding-bottom: 6px;
}

.chat .chat-person .profile-message .name-message .message-sent {
  color: rgb(129, 129, 129);
}

.chat .chat-person .time-notify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat .chat-person .time-notify .time {
  font-size: small;
}

.chat .chat-person .time-notify .notify {
  background-color: rgb(0, 175, 38);
  border-radius: 45%;
  padding: 0 6px;
  font-size: .7rem;
  color: #fff;
}

.chat .bgcolor {
  background-color: rgba(128, 128, 128, 0.11);
}



/* Chat Message */

.chat-message {
  position: fixed;
  height: 100%;
  width: 100%;
}

.chat-message .profile-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  top: 50;
  background: #fff;
  width: 100%;
  position: fixed;
  border-top: 1px solid #c6ccd1;
}

.chat-message .profile-setting .profile-details {
  display: flex;
}

.chat-message .profile-setting .profile-details .profile {
  display: flex;
  align-items: center;
}

.chat-message .profile-setting .profile-details .profile>* {
  padding: 10px;
}

.chat-message .profile-setting .profile-details .profile img {
  width: 40px;
  border-radius: 50%;
}

.chat-message .profile-setting .profile-details .details {
  display: none;
}

.chat-message .profile-setting .call-details {
  display: flex;
  padding-right: 20px;
}

.chat-message .profile-setting .call-details>* {
  padding: 10px;
}

.chat-message .profile-setting .call-details .fa-solid {
  cursor: pointer;
  color: rgb(124, 124, 124);
}

.chat-message .chat {
  height: calc(100% - 200px);
  background: rgba(128, 128, 128, 0.11);
  overflow: auto;
  justify-content: flex-end;
  width: 100%;
}

.chat-message .chat .chat-content .mine {
  display: flex;
  justify-content: flex-end;
}

.chat-message .chat .chat-content .mine .my-message {
  display: flex;
  justify-content: flex-end;
  background: #b7bfc7;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;

}

.chat-message .chat .yours {
  display: flex;
  max-width: 80%;
}

.chat-message .chat .yours .profile img {
  width: 30px;
  border-radius: 50%;
}

.chat-message .chat .yours .message {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.chat-message .chat .yours .message .your-message {
  margin: 5px;
}

.chat-message .send-message {
  bottom: 0;
  display: flex;
  padding: 10px 15px;
  background-color: #fff;
  align-items: center;
}

.chat-message .send-message .file {
  font-size: 1.5rem;
  color: rgb(124, 124, 124);

}

.chat-message .send-message .send-content {
  width: calc(100% - 60px);
  padding: 0 10px;
}

.chat-message .send-message .send-content input {
  width: calc(100% - 30px);
  font-size: 1rem;
  border-radius: 20px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.11);
  border: none;
  padding: 5px 15px;
}

.chat-message .send-message .send {
  display: flex;
  background: #10defd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
  justify-content: center;
  cursor: pointer;
}

/* Resposiveness for the chat*/

@media only screen and (min-width: 1000px) {

  body .chat .all-contact {
    justify-content: flex-start;
    float: left;
    width: 40%;
  }

  .chat .chat-title {
    width: 40%;
  }

  .chat .search {
    width: calc(40% - 19px);
    margin-top: 61px;
    background: rgb(243, 241, 241);
    border-right: none;
  }

  .chat .search input {
    margin-right: 0px;
  }

  body .chat .chat-message {
    float: right;
    width: 60%;
    justify-content: flex-end;
    left: 40%;
    border-left: 1px solid #c6ccd1;
  }

  body .chat .chat-message .profile-setting {
    width: 60%;
  }

  .chat-message .profile-setting .profile-details .profile .fa-chevron-left {
    display: none;
  }

  .chat-message .profile-setting .profile-details .details {
    display: block;
    padding-top: 5px;
  }

  .chat-message .chat .chat-content {
    padding-left: 10px;
  }

}